<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Categories</title>
</head>
<body>
<div layout:fragment="Mycontent">
	<div class="container mt-5">
		<div class="card">
			<div class="card-header">Liste des Categoris</div>
			<div class="card-body">
				<table class="table table-striped">
					<tr>
						<th>ID</th>
						<th>Nom Categorie</th>
						<th>Description</th>
					</tr>
					<tr th:each="c:${categories.content}">
						<td th:text="${c.idCat}"></td>
						<td th:text="${c.nomCat}"></td>
						<td th:text="${c.descriptionCat}"></td>
						
						<td sec:authorize="hasRole('ADMIN')">
							<a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
							th:href="@{supprimerCategorie(id=${c.idCat},page=${currentPage},size=${size})}">
							Supprimer</a>
						</td>
							
						<td sec:authorize="hasRole('ADMIN')">
							<a class="btn btn-success"
							th:href="@{modifierCategorie(id=${c.idCat})}">Editer</a>
						</td>
					</tr>

				</table>
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}"><a
						th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
						th:href="@{ ListeCategories(page=${status.index}, size=${size} ) }"
						th:text="${status.index }"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>